<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% for level in ['danger', 'warning', 'success', 'info'] %}
            {% for message in app.session.flashbag.get(level) %}
                {{ self.message(message, level) }}
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
